/*Cuerpo*/
body{
    background-color: rgb(208, 208, 227);
    margin: 0%;
    display: grid;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    background-color: brown;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    position: top;
    top: 0;
    z-index: 1000;
    height: 80px;
}
.container{
    display: flex;
    flex-direction: column;
}
span{
    display: inline-block;
    width: 100%;
    height: 6rem;
}
.content{
    flex: 12;
}
.space{
    flex: 0;
}
.sangria{
    margin-left: 15px;
    margin-right: 15px;
}

/*Contenido Perfil*/
.banner{
    background-color: red;
    display: block;
    position: top;
    top: 0;
    z-index: 1000;
    margin: 0%;
    padding: 0%;
    height: 285px;
}
.basic{
    padding: 0%;
}
.perfil-basic{
    background-color:white;
}
.fotoperfil{
    display: flex;
  justify-content: center;
}
#Pperfil{
    width: 50%;
    margin-top: -30%;
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid white;
}
.text-perfil{
    display: flex;
    justify-content: center;
}
.texto-negrita {
    font-weight: bold;
}
#Banner{
    max-height: 100%; 
    height: auto;
    display: block;
}
.info{
    margin: 0;
    background-color:white;
}
.PerfilTitulo{
    display: inline-block;
}
.friends-space{
    background-color:white;
}
.friends-cards{
    display: flex;
    padding: 3px;
    margin: 3px;
    align-items: center;
}
#Fperfil{
    width: 90%;
    border-radius: 25%;
    object-fit: cover;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}
.Ftext-perfil{
    display: block;
    text-align: center;
    margin: 1px;
}
.friends{
    flex: 1;
    width: 130px;
    height: 200px;
}

/*Contenido Publicación*/
.publicacion{
    border-top: 2px solid  rgb(169, 169, 191);
    border-bottom: 2px solid  rgb(169, 169, 191);
}
.public-content{
    background-color:white;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px solid  rgb(169, 169, 191);
}
.public-content-perfil{
    display: flex;
    padding: 3px;
    margin: 3px;
    align-items: center;
}
#public-perfil{
    width: 20%;
    margin: 5px;
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
}
#coment-perfil{
    width: 10%;
    margin: 5px;
    margin-right: 5px;
    border-radius: 50%;
    object-fit: cover;
    flex: 1;
}
#public-img{
    width: 100%;
    object-fit: cover;
}
.image{
    display: contents;
}
.line-separator{
    border-top: 2px solid rgb(197, 197, 197);
}
.botons-bar{
    display: flex;
    height: 40px;
}
.botons{
    height: 80%;
    text-align: center;
    padding-top: 2%;
    border-left: 2px solid rgb(197, 197, 197);;
} 

.coment{
    display: flex;
    margin: 15px;
}
.text-coment{
    display: inline-block;
    margin: 5px;
    padding: 3%;
    border-radius: 10%;
    background-color: rgb(242, 242, 242);
    flex: 3;
}
.TC{
    margin: 0%;
    margin-top: 5px;
}

@media screen and (min-width: 700px){
    /*Cuerpo*/
    body{
    background-color: rgb(208, 208, 227);
        margin: 0%;
        display: grid;
    }
    
    .main{
        background-color: aqua;
        display: block;
        position: -webkit-sticky;
        position: sticky;
        position: top;
        top: 0;
        z-index: 1000;
        height: 60px;
    }
    .container{
        flex-direction: row;
    }
    span{
        width: 300px;
    }
    .space{
        flex: 4;
        max-height: 100%;
        max-width: 100%;
    }
    .content{
        flex: 9;
        flex-basis: 600px;
    }

    /*Contenido Perfil*/
    .banner{
        background-color: red;
        display: flex;
        position: top;  
        z-index: 1000;
        margin: 0%;
        padding: 0%;
        height: 400px;
        width: auto;
    }
    #Banner{
        max-height: 100%; 
        height: auto;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .basic{
        padding: 0%;
    }
    .perfil-basic{
        background-color:white;
        display: flex;
        flex-direction: column;
    }
    .perfil{
        padding: 0%;
    }
    .fotoperfil{
        display: flex;
        justify-content: left;
        width: 200px;
        height: 200px;
        margin-left: 5%;
    }
    #Pperfil{
        width: 100%;
        margin: 2%;
        border-radius: 50%;
        object-fit: cover;
    }
    .perfil-card{
        display: flex;
    }
    .text-perfil{
    display: flex;
    flex-direction: column; 
    }
    .fichaperfil{
        margin-left: 5%;
    }

}