/*Cuerpo*/
body{
    background-color: rgb(177, 177, 177);
    margin: 0%;
    display: grid;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    background-color: brown;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    position: top;
    top: 0;
    z-index: 1000;
    height: 80px;
}
.container{
    display: flex;
    flex-direction: column;
    background-color:rgb(173, 173, 173);
}
span{
    display: inline-block;
    width: 100%;
    height: 6rem;
}
.content{
    flex: 12;
}
.space{
    flex: 0;
}
.sangria{
    margin-left: 15px;
    margin-right: 15px;
}

/*Contenido Perfil*/
.banner{
    background-color: red;
    display: block;
    position: top;
    top: 0;
    z-index: 1000;
    margin: 0%;
    padding: 0%;
    height: 285px;
}
.basic{
    padding: 0%;
}
.perfil-basic{
    background-color:white;
}
.fotoperfil{
    display: flex;
  justify-content: center;
}
#Pperfil{
    width: 50%;
    margin-top: -30%;
  border-radius: 50%;
  object-fit: cover;
  border: 10px solid white;
}
.NamePerfil{
    display: flex;
  justify-content: center;
}
.text-perfil{
    display: flex;
  justify-content: center;
}
.texto-negrita {
  font-weight: bold;
}
#Banner{
  max-height: 100%; 
  height: auto;
  display: block;
}
.info{
    margin: 0;
    background-color:white;
}
.PerfilTitulo{
    display: inline-block;
}
.friends-space{
    background-color:white;
}
.friends-cards{
    display: flex;
    padding: 3px;
    margin: 3px;
    align-items: center;
}
#Fperfil{
    width: 90%;
  border-radius: 25%;
  object-fit: cover;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
}
.Ftext-perfil{
    display: block;
    text-align: center;
    margin: 1px;
}
.friends{
    flex: 1;
    width: 130px;
    height: 200px;
}

/*Contenido Publicación*/
.publicacion{
    border-top: 2px solid rgb(94, 94, 94);
    border-bottom: 2px solid rgb(94, 94, 94);
}
.public-content{
    background-color:white;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px solid rgb(94, 94, 94);
}
.public-content-perfil{
    display: flex;
    padding: 3px;
    margin: 3px;
    align-items: center;
}
#public-perfil{
    width: 20%;
    margin: 5px;
    margin-right: 15px;
  border-radius: 50%;
  object-fit: cover;
}
#public-img{
    width: 100%;
  object-fit: cover;
}
.image{
    display: contents;
}

@media screen and (min-width: 700px){
    /*Cuerpo*/
    body{
        background-color: blue;
    margin: 0%;
    display: grid;
    }
    
    .main{
        background-color: aqua;
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
        margin: 0%;
        padding: 0%;
        border: 0%;
        height: 70px;
    }
    .container{
        background-color: blueviolet;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
    }
    span{
        width: 300px;
    }
    .space{
        flex: 2;
    }
    .content{
        flex: 8;
        flex-basis: 600px;
    }

    /*Contenido Perfil*/


}