/* RESET */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e4e6eb;
}

/* APP */
.app {
  max-width: 900px;
  margin: auto;
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  padding: 15px;
  background: #0084ff;
  color: white;
  font-weight: bold;
}

/* MAIN */
.main {
  flex: 1;
  display: flex;
}

/* LISTA DE CHATS */
.chat-list {
  width: 35%;
  border-right: 1px solid #ddd;
  background: white;
}

.chat {
  display: flex;
  align-items: center;
  padding: 12px;
  text-decoration: none;
  color: black;
  gap: 10px;
  transition: 0.2s;
}

.chat:hover {
  background: #f0f2f5;
}

/* FOTO PERFIL */
.prfl1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* TEXTO */
.chat span {
  font-weight: 500;
}

/* CHAT VIEW */
.chat-view {
  flex: 1;
  display: none;
  flex-direction: column;
  background: #f0f2f5;
}

/* ACTIVAR CON :target */
.chat-view:target {
  display: flex;
}

/* HEADER CHAT */
.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #0084ff;
  color: white;
  font-weight: bold;
}

/* BOTÓN ATRÁS */
.back {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  font-size: 18px;
}

/* MENSAJES */
.messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

/* BURBUJAS */
.msg {
  padding: 10px 14px;
  margin: 5px 0;
  border-radius: 20px;
  max-width: 65%;
  font-size: 14px;
}

/* MENSAJE RECIBIDO */
.left {
  background: #e4e6eb;
}

/* MENSAJE ENVIADO */
.right {
  background: #0084ff;
  color: white;
  margin-left: auto;
}

/* INPUT */
.input {
  display: flex;
  padding: 10px;
  background: white;
  border-top: 1px solid #ddd;
}

.input input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

/* MOBILE */
@media (max-width: 768px) {
  .chat-list {
    width: 100%;
  }
    .chat-view {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f0f2f5;
    top: 0;
    left: 0;
  }


}